*{
    margin: 0 auto;
  }


a {
    color: white;
    text-decoration: none;
    outline: none;
  }

body {
    display: flex; 
    flex-direction: column; 
    border: #ffffff;
}
  
.header {
    align-items: center;
    background-image: url(/images/bg.jpg);
    width: 1440px;
    height: 910px;
    align-self: center;
}

.nav__base {    
    justify-content: space-between;
    display: flex;

}

.nav__logo {
    margin-top: 20px;
    margin-left: -283px
}

.nav__list {
    display: flex;
    font-family: inter;
    font-size: 20px;
    list-style: none;
    margin-top: 33px;
    margin-right: 10px;
    color: #ffffff;
}

.nav__item {
    margin-left: 11px;
    margin-right: 20px;
    text-align: center;
    padding: 0;
}

.lang {
    display: flex;
}

.lang__en {
    margin-left: 10px;
    margin-right: 10px;
    color: #BDAE82;
    font-weight: 700;
}

.lang__ru {
    margin-left: 10px;
    margin-right: 10px;
}

.hero {
    margin-top: 176px;
    margin-left: 80px;
    width: 500px;
    height: 330px;
}

.hero__name {
    font-family: Merriweather;
    font-size: 60px;
    font-weight: 700;
    color: white;
    line-height: 120px;
    width: 500px;
    height: 120px;
}

.hero__description {
    margin-top: 10px;
    line-height: 2;
    font-family: inter;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
}

.hero__button {
    cursor: pointer;
    margin-top: 25px;
    width: 220px;
    height: 55px;
    background-color: #BDAE82;
    border: 1px solid black;
}

.hero__button__text {
    font-family: inter;
    font-size: 20px;
}


.section {
    background-color: black;
    width: 1440px;
    text-align: center;
}

.section__title {
    display: inline;
    text-align: center;
    font-family: Merriweather;
    font-weight: 700;
    font-size: 40px;
    color: #BDAE82;
    width: 700px;
    height: 80px;
}

.section__title__name {
    margin-top: 115px;
    background-color: black;
    z-index: inherit;
    width: 152px;
    height: 80px;
    text-align: center;
    margin-top: -26px;
}

.section__line {
    margin-top: 139px;
    max-width: 700px;
    border-color: #BDAE82;
}

.skills__list{
    display: flex;
    width: 1440px;
    height: 242px;
    list-style: none;
    margin-top: 45px;
    margin-left: -40px;
}

.skills__item {
    width: 320px;
    height: 240px;
    text-align: center;
    color: white;
}

.skills__item__name {
    margin-top: 54px;
    margin-bottom: 29px;
    font-family: inter;
    font-weight: 700;
    font-size: 20px;
}

.skills__item__description {
    font-family: inter;
    font-size: 18px;
    line-height: 2;
}