*{
    margin: 0;
  }

html {
    box-sizing: border-box;
}

a {
    color: white;
    text-decoration: none;
    outline: none;
  }

body {
    display: flex; 
    flex-direction: column; 
}
  
.header {
    align-items: center;
    background-image: url(/images/bg.jpg);
    width: 1440px;
    height: 910px;
    align-self: center;
}

.nav__base {    
    justify-content: space-between;
    display: flex;

}

.nav__logo {
    margin-top: 20px;
    margin-left: -20px
}

.nav__list {
    display: flex;
    font-family: inter;
    font-size: 20px;
    list-style: none;
    margin-top: 34px;
    margin-right: 10px;
    color: #ffffff;
}

.nav__item {
    margin-left: 10px;
    margin-right: 20px;
    text-align: center;
    padding: 0;
}

.lang {
    display: flex;
}

.lang__en {
    margin-left: 10px;
    margin-right: 10px;
    color: #BDAE82;
    font-weight: 700;
}

.lang__ru {
    margin-left: 10px;
    margin-right: 10px;
}

.hero {
    margin-top: 176px;
    margin-left: 80px;
    width: 500px;
    height: 330px;
}

.hero__name {
    font-family: inter;
    font-size: 60px;
    font-weight: 700;
    color: white;
    line-height: 120px;
    width: 500px;
    height: 120px;
}

.hero__description {
    margin-top: 10px;
    line-height: 2;
    font-family: inter;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
}

.hero__button {
    cursor: pointer;
    margin-top: 25px;
    width: 220px;
    height: 55px;
    background-color: #BDAE82;
    border: 1px solid black;
}

.hero__button__text {
    font-family: inter;
    font-size: 20px;
}