*{
    margin: 0 auto;
  }


a {
    color: white;
    text-decoration: none;
    outline: none;
  }

body {
    display: flex; 
    flex-direction: column; 
    border: #ffffff;
}
  
.header {
    align-items: center;
    background-image: url(/images/bg.jpg);
    width: 1440px;
    height: 910px;
    align-self: center;
}

.nav__base {    
    justify-content: space-between;
    display: flex;

}

.nav__logo {
    margin-top: 20px;
    margin-left: -283px
}

.nav__list {
    display: flex;
    font-family: inter;
    font-size: 20px;
    list-style: none;
    margin-top: 33px;
    margin-right: 10px;
    color: #ffffff;
}

.nav__item {
    margin-left: 11px;
    margin-right: 20px;
    text-align: center;
    padding: 0;
}

.lang {
    display: flex;
}

.lang__en {
    margin-left: 10px;
    margin-right: 10px;
    color: #BDAE82;
    font-weight: 700;
}

.lang__ru {
    margin-left: 10px;
    margin-right: 10px;
}

.hero {
    margin-top: 176px;
    margin-left: 80px;
    width: 500px;
    height: 330px;
}

.hero__name {
    font-family: Merriweather;
    font-size: 60px;
    font-weight: 700;
    color: white;
    line-height: 120px;
    width: 500px;
    height: 120px;
}

.hero__description {
    margin-top: 10px;
    line-height: 2;
    font-family: inter;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
}

.hero__button {
    cursor: pointer;
    margin-top: 25px;
    width: 220px;
    height: 55px;
    background-color: #BDAE82;
    border: 1px solid black;
}

.hero__button__text {
    font-family: inter;
    font-size: 20px;
}


.section {
    background-color: black;
    width: 1440px;
    text-align: center;
}

.section__title {
    display: inline;
    text-align: center;
    font-family: Merriweather;
    font-weight: 700;
    font-size: 40px;
    color: #BDAE82;
    width: 700px;
    height: 80px;
}

.section__title__name {
    margin-top: 115px;
    background-color: black;
    width: fit-content;
    text-align: center;
    margin-top: -26px;
    padding-left: 20px;
    padding-right: 20px;
}

.section__line {
    margin-top: 139px;
    max-width: 700px;
    border-color: #BDAE82;
}

.skills__list{
    display: flex;
    width: 1440px;
    height: 242px;
    list-style: none;
    margin-top: 75px;
    margin-left: -40px;
}

.skills__item {
    width: 320px;
    height: 240px;
    text-align: center;
    color: white;
}

.skills__item__name {
    margin-top: 54px;
    margin-bottom: 29px;
    font-family: inter;
    font-weight: 700;
    font-size: 20px;
}

.skills__item__description {
    font-family: inter;
    font-size: 18px;
    line-height: 2;
}

.season__buttons {
    display: inline-flex;
    margin-top: 75px;
    margin-right: 40px;
    margin-bottom: 40px;
}

.season__button {
    cursor: pointer;
    width: 220px;
    height: 55px;
    background-color: black;
    border: #BDAE82 solid 2px;
    font-family: inter;
    color: #BDAE82;
    font-size: 20px;
    margin-left: 2.5px;
    margin-right: 2.5px;
}

#active {
    background-color: #BDAE82;
    color: black;
}

.season__list {
    display: inline-flex;
    margin-left: -39px;
    list-style: none;
}

.season__photo__list__item {
    padding-top: 20px;
    padding-left: 12.5px;
    padding-right: 12.5px;
    padding-bottom: 0px;
    width: 450px;
    height: 560px;
}

.video {
    margin-top: 75px;
    background-image: url(/images/video-player.jpg);
    width: 1400px;
    height: 705px;
}

.video__button {
    margin-top: 288px
}

.price__list {
    display: inline-flex;
    list-style: none;
    margin-left: -40px;
    margin-top: 60px;
}

.price__list__item {
    border: #BDAE82 solid 3px;
    width: 445px;
    height: 500px;
    margin: 12.5px;
    margin-bottom: 100px;
}


.price__list__item__name {
    font-family: Merriweather;
    color: #ffffff;
    font-weight: 700;
    font-size: 28px;
    margin-top: 50px;
}

.price__list__item__cost {
    font-family: Merriweather;
    color: #BDAE82;
    font-weight: 700;
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.price__list__item__description {
    font-family: inter;
    color: #ffffff;
    line-height: 2;
    font-size: 18px;
    margin-bottom: 13px;
}
.contact {
    background-image: url(/images/contacts.jpg);
    width: 1440px;
    height: 700px;
    text-align: left;
}

.contact__list {
    list-style: none;
    margin-left: 930px;
    margin-top: 75px;
}

.contact__title {
    color: #BDAE82;
    font-size: 40px;
    font-weight: 700;
    font-family: Merriweather;
    margin-bottom: 55px;
}

.contact__field {
    border: #BDAE82 3px;
    width: 443px;
    height: 50px;
    line-height: 50px;
    background: transparent;
    margin-bottom: 17px;

}

.contact__field::placeholder {
    font-size: 20px;
    font-family: inter;
    margin-left: 300px;
    transform: translateX(18px);
}
#message {
    height: 100px;
    margin-bottom: 5px;
}
#message::placeholder {
    transform: translate(18px, -23px);
}





.footer {
    width: 1440px;
    height: 150px;
    background-color: black;
    display: flex;

}

.footer__data {
    position: absolute;
    margin-top: 55px;
    margin-left: -30px;
}

.data__list {
    display: flex;
    list-style: none;
}

.footer__text {
    color: white;
    font-size: 20px;
    font-family: inter;
    padding: 10px;
}

.footer__school {
    margin-top: 55px;
    margin-left: 605px;
}


.media__list {
    display: flex;
    list-style: none;
    width: 188px;
    height: 50px;
    margin-left: 640px;
    margin-top: -10px;
}

.footer__media {
    position: relative;
    margin-top: 50px;
    margin-right: 8px;
}

.footer__data__media {
    display: flex;
    list-style: none;
}

.media__item {
    padding: 10px;
}